
.student-card,
.menu-btn,
.logout-btn,
.button--primary,
.filter-item{
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(4px);
}
.change{
  width: auto;
  height: auto;
  padding: 3px;
}