.grainient-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(9, 87, 14, 0.52), rgba(255, 255, 255, 0.6), rgba(156, 185, 248, 0.6));
  animation: grainientMove 10s ease infinite;
  background-size: 200% 200%;
}

.student-card,
.menu-btn,
.logout-btn,
.button--primary,
.filter-item{
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(4px);
}
.change{
  width: auto;
  height: auto;
  padding: 3px;
}