@use 'helpers' as *;

:root{
  --color-green: #09570e;
  --color-light: #FFFF;
  --color-dark-10:#242731;
  --color-dark:#141414;
  --color-light-10: #B9B9C3;
  --color-light-20: #F0F2F4;

  --border:1 solid var(--color-dark-15);

  --box-shadow: 0 0 10px rgb(7, 56, 10);


  --font-family-base:'Roboto',sans-serif;

  --container-padding:#{rem(80)};

  @include laptop{
    --container-width:#{rem(1280)};
  }
}